header,
header nav {
  display: flex;
  flex-direction: row;
}

header {
  align-items: flex-start;
  margin: 0 0 30px;
  text-transform: uppercase;

  background: url(/assets/icons/icon.png) no-repeat 0 0.3vw / 2.2vw;
  padding-left: 2.6vw;

  h1,
  nav a {
    margin: 0;
    padding-bottom: 4px;

    color: inherit;
    font-size: 2.34vw;
    text-decoration: none;
  }

  h1 {
    font-weight: 600;
  }

  nav {
    align-items: flex-end;

    a {
      margin-left: 20px;

      &.active {
        border-bottom: 2px solid currentColor;
        padding-bottom: 2px;
      }
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
    text-align: right;

    strong {
      font-size: 2.34vw;
    }

    span {
    }
  }
}
