:host {
  ---connect-four-token-color: var(--connect-four-token-color);
}

:host {
  position: relative;
  display: block;
  padding-top: 100%;
  width: 100%;

  opacity: 1;
  margin-bottom: 0;

  transition: margin-bottom 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.34), opacity 0.5s ease-out;

  &::before {
    content: '';
    position: absolute;
    inset: 20%;
    border-radius: 50%;
    background-color: var(---connect-four-token-color);
  }
}

:host([player='a']) {
  ---connect-four-token-color: var(--color-aquamarine);
}

:host([player='b']) {
  ---connect-four-token-color: var(--color-hotpink);
}

:host([lifted]) {
  margin-bottom: calc(var(---connect-four-row-count) * 100%);
}

:host([translucent]) {
  opacity: 0.25;
}
