:host {
  position: relative;
  display: block;
}

strong {
  font-weight: 400;
}

.tiles {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.info {
  padding-top: 30px;
  text-align: right;
  font-size: 1.5em;
  text-transform: uppercase;
}

#reload {
  position: absolute;
  inset: 50% auto auto 50%;

  background: none;
  border: none;
  cursor: pointer;

  color: var(--color-typography);
  font-size: 18em;
  transform: translate(-50%, -50%) rotate(45deg);
}
