:host {
  position: relative;
  display: block;
}

h1 {
  font-weight: inherit;
  margin: 0;
}

strong {
  font-weight: 400;
}

.title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 30px;
  text-transform: uppercase;

  span {
    font-size: 1.5em;
  }
}

.tiles {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

canvas {
  position: absolute;
  inset: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.reload {
  position: absolute;
  inset: 50% auto auto 50%;

  background: none;
  border: none;
  cursor: pointer;

  color: var(--color-typography);
  font-size: 18em;
  transform: translate(-50%, -50%) rotate(45deg);
}
