h1 {
  font-weight: inherit;
  margin: 0;
}

strong {
  font-weight: 400;
}

.title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 30px;
  text-transform: uppercase;

  span {
    font-size: 1.5em;
  }
}

.tiles {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
