:host {
  display: block;
  perspective: 1000px;

  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

:host([solved]) {
  opacity: 0.25;
}

figure {
  display: flex;
  flex-direction: row;
  margin: 0;

  transition: transform 1s;
  transform-style: preserve-3d;
  white-space: nowrap;

  &::before {
    content: '';
    display: inline-block;
    padding-top: calc(9 / 16 * 100%);
  }

  :host(:not([covered])) & {
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }
}

img {
  height: auto;
  width: 100%;
}

.front,
.back {
  backface-visibility: hidden;
  border-radius: var(--border-radius);
}

.front {
  transform: rotateY(180deg);
}

.back {
  position: absolute;
  inset: 0;
  background-color: var(--color-grey-medium);
}
