:host {
  display: flex;
  flex-direction: column;
}

header,
header nav {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

header {
  margin: 0 0 30px;
  text-transform: uppercase;

  h1,
  nav a {
    margin: 0;
    padding-bottom: 4px;

    color: inherit;
    font-size: 1.5em;
    text-decoration: none;
  }

  h1 {
    font-weight: 600;
  }

  nav a {
    margin-left: 10px;

    &.active {
      border-bottom: 2px solid currentColor;
      padding-bottom: 2px;
    }
  }
}
