@use '../node_modules/@fontsource/roboto-condensed/scss/mixins' as RobotoCondensed;

@include RobotoCondensed.faces(
  $weights: (
    300,
    400,
  ),
  $directory: '../node_modules/@fontsource/roboto-condensed/files'
);

:root {
  --color-grey-darkest: #333;
  --color-grey-dark: #484848;
  --color-grey-medium: #ccc;
  --color-grey-light: #fefefe;
  --color-aquamarine: #7fffd4;
  --color-hotpink: #ff7f9b;

  --border-radius: 0.5vw;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;

  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;

  background: var(--color-grey-darkest);
  color: var(--color-grey-light);

  margin: 0;
  user-select: none;
  overflow: hidden;
}
